
;Enable Static Automatic Provisioning (Hourly)
provisioning/method=STATIC
provisioning/configuration/url=https://ipphone.shanehoey.net
provisioning/firmware/url=https://ipphone.shanehoey.net
provisioning/period/type=HOURLY
provisioning/period/hourly/hours_interval=24
lync/SfBDeviceUpdate=0
