
;Enable Static Automatic Provisioning (Power up)
provisioning/method=STATIC
provisioning/configuration/url=https://ipphone.shanehoey.net
provisioning/firmware/url=https://ipphone.shanehoey.net
provisioning/period/type=POWERUP
lync/SfBDeviceUpdate=0
