;Audiocodes IP Phone (400hd series) - Skype for Business - Common Area Configuration
;Model 450HD
;Firmware UC_3.0.4.111.77
;Date 24/11/2017
;https://shanehoey.com/ippmgr/450HD-CommonArea.cfg

;This config is for demostration purposes only
;for details on this config visit https://shanehoey.com/ipphones

;include standard IP Phone options
include https://shanehoey.com/ippmgr/dhcpoption160.cfg

;replace static url
provisioning/configuration/url=https://shanehoey.com/ippmgr/default-commonarea.cfg

;Disable the Pin Lock  
system/pin_lock/enabled=0 

;Disable Call Forwarding
voip/line/0/call_forward/enabled=0

;Disable Voicemail 
lync/VoiceMail/enabled=0

;Enable Calendar
lync/calendar/enabled=0

;Disable Call Log
lync/callLog/enabled=0

;Disable Function Key configuration changes
system/enable_key_configuration=0

;Disable Do Not Disturb status option
voip/services/do_not_disturb/enabled=0

;Enable Hot Desking
system/hot_desking/enabled=1

;Enable Meet Now on Idle Screen
lync/IdleScreen/MeetNow/enabled=1

;Disable the Settings menu
lync/settings_menu/enabled=0

;Disable the PC Port
network/pc/port_mode=DISABLE

;Disable ability to signout of the phone
lync/userSetting/prevent_user_sign_out=1

;;Enable Telnet for debugging purposes (should be disabled in production environments)
management/telnet/enabled=1
